.fieldRelationshipTreeContainer {
	position: relative;
	overflow: visible;
}

.popoverContainer {
	position: absolute;
	top: -80px;
	min-height: 100px;
}

.relatedFieldPopoverBody {
	max-height: 250px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
}
